<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
    
    <context:component-scan base-package="com.evs.javaspring54" />
    
    <bean 
        class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix">
            <value>/WEB-INF/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    
    <bean 
        id="datasource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/javaspring54?autoReconnect=true&amp;useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="intello" />
    </bean>
    
    <bean 
        id="userTemplate"
        class="com.evs.javaspring54.template.UserJdbcTemplate" >
        <property name="dataSource" ref="datasource" />
    </bean>
    
    <!-- Hibernate Property -->
    <bean   id="sessionFactory"
            class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" >
            
        <property name="dataSource" ref="datasource" />
        <property name="annotatedClasses">
            <list>
                <value>com.evs.javaspring54.model.UserModel</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dilect">org.hibernate.dialect.MySQLDilect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    
    <bean id="userHibernate"
        class="com.evs.javaspring54.hibernate.UserHibernateDao" />
    
    
</beans>
